@{
    ViewBag.Title = "Registration";
}

<h1>Registration</h1>








 
     
    

<link rel="stylesheet" href="~/Content/Styles/style.css" type="text/css">
<form method="post" action="/Home/Registration">
    
       
            <table border="0" class="tableAuthorization">
            <tr>
                <td>Your login(email)</td>
                <td><input type="text" class="AuthorizationInput" name="Login"></td>
            </tr>

            <tr>
                <td>Your password</td>
                <td><input type="password" class="AuthorizationInput" name="Password"></td>
            </tr>

            <tr>
                <td colspan="2">
                   
                        <input type="submit" value="Registration" class="AuthorizationButtonL" name="ButtonLogIn">
                    

                    
                   
                    
</td>
            </tr>
        </table>
    </form>